<?xml version="1.0" encoding="utf-8"?>
<odoo>  
    <menuitem id="menu_school_root"
    name="Cургууль"
    sequence="1"/>

    <menuitem id="menu_school_operations"
    name="Үйл ажилгаа"
    parent="menu_school_root"
    sequence="2"/>

    <menuitem id="menu_students"
    name="шинэ cурагчид бүртгэх"
    parent= "menu_school_operations"
    action="action_school_student"
    sequence="3"/>
    
    <menuitem id="menu_teachers"
    name="шинэ багш бүртгэх"
    parent= "menu_school_operations"
    action="action_school_teacher"
    sequence="4"/>

</odoo>
